* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  outline: none;
  box-sizing: border-box;
}


body {
  font-family: 'ApexNew', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  color: #000;
  background: #fff;
  width: 100%;
  overflow-x: hidden;
}

h1 {
  font-size: 19px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 10px 0 40px 40px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

a {
  cursor: pointer;
  color: #000;
  text-decoration: none;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

.text {
  &__bold {
    font-weight: 700;
  }

  &__red {
    font-weight: 700;
    color: #d54122;
  }
}

/*------------- TOP BLOCK -------------*/
.top__block {
  position: relative;
  color: #fff;
  height: 580px;
  background: #292f35;
  padding: 40px 40px 0 40px;

  &__text {
    position: relative;
    font-size: 56px;
    line-height: 58px;
    font-weight: 300;
    width: 60%;
    margin: 6% auto 0 calc(20vw - 40px);
  }

  &__img {
    position: absolute;
    bottom: 0;
    right: 135px;
    width: 60%;
    height: 390px;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(41, 47, 53, 0.8);
    }

    & img {
      object-fit: fill;
    }
  }
}

/*------------- HEADER -------------*/
header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  .logo {
    font-size: 30px;
    text-transform: uppercase;
    background: #d54122;
    width: 170px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: calc(20vw - 40px - 170px);
  }

  & nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 63%;

    & a {
      position: relative;
      display: block;
      color: #fff;
      font-size: 18px;
      margin-right: 50px;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -5px;
        height: 3px;
        width: 0;
        background: #d54122;
        -webkit-transition: all .3s linear;
        -moz-transition: all .3s linear;
        -ms-transition: all .3s linear;
        -o-transition: all .3s linear;
        transition: all .3s linear;
      }

      &:hover::before {
        width: 100%;
      }
    }

  }

  & .contacts {
    text-align: center;

    &__mail {
      padding-bottom: 20px;
    }

    &__access {
      padding: 20px;
      border: 1px solid #d54122;
    }
  }
}

/*------------- end HEADER -------------*/


/*------------- end TOP BLOCK -------------*/
.breadcrumbs {
  margin-left: 20vw;
  font-size: 13px;
  color: #969da4;
  padding: 30px 0 65px;

  & a {
    position: relative;
    color: inherit;
    padding-right: 25px;
    margin-right: 12px;

    &::after {
      content: '>';
      position: absolute;
      right: 0;
    }

    &:hover {
      color: #d54122;
    }
  }
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

/*------------- Aside -------------*/
aside {
  width: 20vw;

  & nav {
    position: sticky;
    top: 20px;
    & a {
      display: block;
      position: relative;
      margin-bottom: 40px;
      padding-left: 40px;
      color: #969da4;

      &::before {
        content: '';
        position: absolute;
        top: -5px;
        left: 0;
        width: 0;
        height: calc(100% + 10px);
        background: #d54122;
        -webkit-transition: all .3s linear;
        -moz-transition: all .3s linear;
        -ms-transition: all .3s linear;
        -o-transition: all .3s linear;
        transition: all .3s linear;
      }

      &.active, &:hover {
        color: #000;

        &::before {
          width: 10px;
        }
      }
    }
  }
}

/*------------- end Aside -------------*/


main {
  width: 60vw;
}

/*------------- Video -------------*/
.video {
  position: relative;
  width: 80vw;
  margin-bottom: 130px;

  &__text {
    position: absolute;
    top: 40px;
    left: 40px;
    font-size: 50px;
    color: #fff;
    text-transform: uppercase;
    text-shadow: -3px 2px 4px rgba(0, 0, 0, 0.3);
    z-index: 1;
  }

  &__youtube {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    background-color: #000000;

  }

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }

  &__button {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    display: none;
    padding: 0;
    width: 68px;
    height: 48px;
    border: none;
    background-color: transparent;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
}


.video__button {
  &:focus {
    outline: none;
  }

  &__shape {
    fill: #212121;
    fill-opacity: 0.8;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
  }

  &__icon {
    fill: #ffffff;
  }
}

.video__youtube:hover .video__button__shape,
.video__button:focus .video__button__shape {
  fill: #d54122;
  fill-opacity: 1;

}

/* Enabled */

.video--enabled {
  cursor: pointer;

  & .video__button {
    display: block;
  }
}


/*------------- end Video -------------*/
/*------------- TABS -------------*/
.tab {
  position: relative;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 130px;

  &__title {
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
  }

  &s {
    display: table;
    position: relative;
    overflow: hidden;
    margin: 0;
    width: 100%;

    & li {
      position: relative;
      float: left;
      overflow: hidden;
      width: 20%;
      height: 250px;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 10px;
        background: #d54122;
        -webkit-transition: all .3s linear;
        -moz-transition: all .3s linear;
        -ms-transition: all .3s linear;
        -o-transition: all .3s linear;
        transition: all .3s linear;
      }
    }

    &__item {
      display: none;
      padding: 55px 65px;
      background: #e6e6e6;
      text-align: center;
      font-size: 19px;
      line-height: 32px;

      &:first-child {
        display: block;
      }
    }
  }
}

.tabs__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 10px;

  & span {
    display: block;
    text-align: center;

  }

  &__img {
    width: 80px;
    height: 80px;
    border: 2px solid #d54122;
    border-radius: 50%;
    padding: 15px;
    margin: 0 auto;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
  }

  &__title {
    font-size: 19px;
    font-weight: 500;
    position: relative;
    text-transform: capitalize;
    margin: 20px 0;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;

    &::after {
      content: '>';
      position: absolute;
      bottom: 0;
      left: 50%;
      opacity: 0;
      -webkit-transform: translateX(-50%) rotate(90deg);
      -moz-transform: translateX(-50%) rotate(90deg);
      -ms-transform: translateX(-50%) rotate(90deg);
      -o-transform: translateX(-50%) rotate(90deg);
      transform: translateX(-50%) rotate(90deg);
    }
  }
  &__text {
    font-size: 16px;
  }
}

li.current {
  &::after {
    width: 100%;
  }

  .tabs__block {


    &__img {
      width: 100px;
      height: 100px;
      padding: 25px;
    }

    &__title {
      font-size: 24px;
      color: #d54122;
      padding-bottom: 37px;

      &::after {
        opacity: 1;
      }
    }

    &__text {
      display: none;
    }
  }
}

/*------------- end TABS -------------*/
footer {
  background: #000;
  height: 200px;
}